.header {
    display: flex;
    justify-content: end;
    flex-direction: row;

    width: 1200px;
    height: 60px;
   
    margin: 0;
    top: -97px;
    left: -601px;

    background:#FFF;
    box-shadow: 1px 2px 4px 1px #0000000D;

    &_logo {
    display: flex;
    position: relative;

    left: 50px;
    top: 10px;

    width: 40px;
    height: 40px;

}

}


